<!DOCTYPE html>
<html>

<head>

  <title>SGBRGS</title>

</head>

<body style="background-color: black;">

  <h1 style="position:absolute; z-index: 10000; color: red;" id="role">SGBRGS</h1>

  <div style="display: none;">
    <span>cvFrame</span>
    <img id="cvFrame">

    <span>Canvas(Local)</span>
    <canvas id="canvas"></canvas>

    <span>Video(Local)</span>
    <video id="localVideo"></video>

    <audio id="remoteAudio" controls autoplay></audio>
  </div>

  <video id="bgVideo" autoplay style="z-index: 100; position: absolute; height:auto; width:100%; top: 10%;"></video>

  <!-- <img id="bgFrame" style="position:absolute; z-index: 101; height: auto; width:100%; left:50%; top:10%; display:none;"> -->
  <img id="fgFrame" style="position:absolute; z-index: 102; height: auto; width:100%; left:50%; top:10%;filter:saturate(200%)">

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="main3.js"></script>


</body>

</html>