<!DOCTYPE html>
<html>

<head>

  <title>SGBRGS</title>

</head>

<body>

  <h1 id="role">SGBRGS</h1>
  
  <div style="display: none;">
    <span>cvFrame</span>
    <img id="cvFrame"> 
    
    <span>Canvas(Local)</span>
    <canvas id="canvas"></canvas>
    
    <span>Video(Local)</span>
    <video id="localVideo"></video>

    <audio id="remoteAudio" autoplay></audio>
  </div>

  <!-- <span>superframe</span> -->
  <div id="superFrame" style="background-blend-mode: luminosity; width: 100px; height:100px">
  </div>
  

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="main3.js"></script>


</body>

</html>
