<!DOCTYPE html>
<html>

<head>

  <title>SGBRGS</title>

</head>

<body>

  <h1 id="role">SGBRGS</h1>

  <video id="localVideo"></video>
  <canvas id="canvas"></canvas>

  <img id="cvFrame">
  
  <!-- <audio id="localAudio" autoplay controls></audio> -->
  <!-- <video id="remoteVideo" autoplay></video> -->
  <audio id="remoteAudio" autoplay controls></audio>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="main3.js"></script>


</body>

</html>