<!DOCTYPE html>
<html>

<head>

  <title>SGBRGS</title>

</head>

<body>

  <h1>SGBRGS</h1>

  <div id="videos">
	<video id="localVideo" autoplay muted hidden></video>
	<video id="remoteVideo" autoplay></video>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="main3.js"></script>


</body>

</html>
